<h1>Cadastro de mangás lidos</h1>
<form action="/add-manga" method="POST">
    <label>Nome</label>
    <input type="text" name="nome"><br><br>

    <label>Editora</label>
    <input type="text" name="editora"><br><br>

    <button type="submit">Cadastrar</button>
</form>

